.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}

.galeria-item {
    position: relative;
    display: inline-block;
    background: #fff;
    padding: 10px; 
    border: 1px solid #333; 
    box-shadow: 3px 3px 0px #333; 
    margin: 10px;
    transition: transform 0.3s ease;
}

.galeria-item span {
    display: block;
    text-align: center;
    margin-top: 25px;
    font-size: 12px;
}

.galeria-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.galeria-item:hover {
    transform: scale(1.05);
}
